<div class="container conb m-4 col-sm-12 col-md-10 col-lg-12">
    <mat-card class="shadow  ">

        <div class="row my-4">
            
        <button mat-raised-button color="primary" class="col-md-9 col-sm-8 mx-auto mt-3 text-center" [routerLink]="'courses'" >Courses</button>
        <button mat-raised-button color="primary" class="col-md-9 col-sm-8 mx-auto mt-3" [routerLink]="'user'">User</button>
        <button mat-raised-button color="primary" class="col-md-9 col-sm-8 mx-auto mt-3" [routerLink]="'fees'">Fees</button>

        </div>

    </mat-card>
</div>