.navbar{
    height: 10vh;
    line-height: 10vh;
    }
    


    
    img{
        width: 22%;
    }
    
    a{
        color: rgb(88, 88, 219);
        font-weight: bold;
    }
    
    .avtar{
        width: 6% !important; 
        border-radius: 50% !important;
        height: 10% !important;
        line-height: 10vh !important;
        
    }

    
        .enq{
            background-color: rgb(186, 205, 214);
            line-height:4vh;
            height: 4vh;
        }

     
      