<div class="container  contflu" >
  <div class="row mt-5  ">
    <div class="col-md-8 col-sm-12 col-lg-4"> 
    <mat-card class=" mx-auto shadow-md">
        <img src="./assets/images/jeemains.jpeg" alt="" class="px-2">
        <p class="m-3 text-primary h5">Success in JEE Mains</p>
        <span class="me-5 mx-3 mb-2">Five candidates selected from Scholar's Academy in NEET 2023</span>
    </mat-card> </div>
    <div class="col-md-8 col-sm-12 col-lg-4"> 
    
      <mat-card class=" mx-auto shadow-md">
          <img src="./assets/images/jeemains.jpeg" alt="" class="px-2">
          <p class="m-3 text-primary h5">Success in JEE Mains</p>
          <span class="me-5 mx-3 mb-2">Five candidates selected from Scholar's Academy in NEET 2023</span>
    </mat-card> </div>
    <div class="col-md-8 col-sm-12 col-lg-4"> 
    
      <mat-card class=" mx-auto shadow-md ">
          <img src="./assets/images/papercutout.jpeg" alt="" class="px-2 cutout">
    </mat-card> </div>
    <div>
</div>
