<div class="container">

    <mat-card class="bg-light">
        <div class="text-center px-2">
            <div class="reg col-12  text-center rounded-2" > <p class="text-white fs-6"> Registration Form</p> </div>

        </div>
        
        <form action="" class="mt-2 mx-4">
            <div class="row">
                <div class="col-sm-6 ">
                    <div>
                        <label for="">First Name</label>
                        <input type="text" class="form-control">
                    </div>
                    <div class="mt-2">
                        <label for="" >Last Name</label>
                        <input type="text" class="form-control">
                    </div>
                    <div class="mt-2">
                        <label for="">Gender</label>
                        <mat-radio-group aria-label="Select an option" class="ms-5">
                            <mat-radio-button value="1"  class="ms-5">Male</mat-radio-button>
                            <mat-radio-button value="2" class="ms-5">Female</mat-radio-button>
                            <mat-radio-button value="3" class="ms-5">Other</mat-radio-button>

                          </mat-radio-group>
                          
                    </div>
                    <div class="mt-2">
                        <label for="" >Date of Birth</label>
                        <input type="date" class="form-control">
                    </div>
                    <div class="mt-2">
                        <label for="" >Email</label>
                        <input type="email" class="form-control">
                    </div>
                    <div class="mt-2">
                        <label for="" >Contact</label>
                        <input type="tel" class="form-control">
                    </div>
                </div>
                <div class="col-sm-6 ">
                    <div>
                        <label for="">Address:</label>:
                        <textarea name="" id="" cols="30" rows="3" class="form-control"></textarea>
                    </div>
                    <div class="mt-2">
                        <label for="">Qualification:</label>
                        <input type="text" class="form-control">
                    </div>
                    <div class="mt-2">
                        <label for="">Passing Year:</label>
                        <input type="date" class="form-control">
                    </div>
                    <div class="mt-2">
                        <label for="">Cast Category:</label>
                        <input type="text" class="form-control">
                    </div>
                    <div class="mt-2">
                        <label for="">Subcast</label>
                        <input type="text" class="form-control">
                    </div>

                    
                </div>
                <div class="text-center">
                    <div class="my-2">
                        <button class="btn btn-secondary col-2 "> Reset</button>
               
                        <button class="btn btn-success ms-5 col-2 "> Submit</button>
                    </div>
                </div>
            </div>
        </form>

    </mat-card>

</div> 